{% extends 'base2.html.twig' %}

{% block title %}Projekt - 17 Globala Mål
{% endblock %}

{% block body %}
	<main class="main">
		<h1 class="proj-h1 center">De 17 Globala Målen för Hållbar Utveckling</h1>
		<p>
			JAg har valt mål XX och hitta excel fil for data integration
			<br>
			JAg har valt mål
			<a class="proj-a" style="color:green;     font-size: xx-large;" href="{{ path('app_proj_goal_12') }}">
				12</a>
			och hitta excel fil for data integration
		</p>
		<div >
			<form class="search-form" method="POST" action="{{ path('proj_goal_search') }}">
				<input type="text" name="query" placeholder="Sök mål..." required>
				<button class="goal-btn goal-3" type="submit">Sök</button>
			</form>
		</div>


		<div class="goals-grid">
			{% for goal in goals %}
				<div class="goal-card goal-{{ goal.number }}">
					<a class="proj-a" href="{{ path('app_proj_goal_by_id', {'number': goal.number}) }}">
						<div class="goal-header">
							<h2>{{ goal.number }}.
								{{ goal.name }}</h2>
						</div>
						<div class="goal-body">
							<p>
								<strong>Definition:</strong>
								{{ goal.defination }}</p>
							<a class="" href="{{ path('app_proj_goal_by_id', {'number': goal.number}) }}">
								Show details
							</a>
						</div>
					</a>
				</div>
			{% else %}
				<p>Inga mål hittades.</p>
			{% endfor %}
		</div>
	</main>
{% endblock %}
