{% extends 'base.html.twig' %}

{% block title %}
  Deck of Cards
{% endblock %}

{% block body %}
  <main>
    <h1>Deck of Cards</h1>

    <p>
      Here is the complete <a href="{{ path('card_deck') }}">sorted deck.</a>
    </p>

    {{ include('flash.html.twig') }}
    <div class="centered">
      <ul class="cards-list">
        {% for card in cards %}
          <li style="display: contents; align-items:center">
            <span class="{% if card.getSuit() == 'Hearts' or card.getSuit() == 'Diamonds' %}red-card{% endif %}"
            style="font-size: 100px;">{{ card.getGraphic()|raw }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>

    <a class="btn-simp" href="{{ path('card_shuffle') }}">Shuffle Deck</a>
    <form action="{{ path('card_shuffle') }}" method="POST">
      <button class="btn-simp" type="submit">Shuffle via /api/deck/shuffle Post request</button>
    </form>
  </main>
{% endblock %}
