<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/hh_logo_b.png') }}"/>
		{% block stylesheets %}
			{% if app.environment != 'test' %}
				{{ encore_entry_link_tags('app') }}
			{% endif %}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{% if app.environment != 'test' %}
					{{ importmap('app') }}
				{% endif %}
			{% endblock %}
			{% if app.environment != 'test' %}
				{{ encore_entry_script_tags('app') }}
			{% endif %}
		{% endblock %}
	</head>
	<body>
		<header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
			<span class="site-title">Hassans Symfony Site</span>
		</header>
		<nav>
			<ul>
				<li><ahref="{{path('home')}}">Hem</a></li>
				<li><ahref="{{path('about')}}">Om</a></li>
				<li><ahref="{{path('lucky_number')}}">Lucky number</a></li>
				<li><ahref="{{path('report')}}">Report</a></li>
				<li><ahref="{{path('api')}}">API</a></li>
				<li><ahref="{{path('lucky')}}">Lucky</a></li>
				<li><ahref="{{path('card_start')}}">Card Game</a></li>
				<li><ahref="{{path('21card_start')}}">21 Card Game</a></li>
				<li><ahref="{{path('app_metrics')}}">Analysis</a></li>
				<li><ahref="{{path('book_view_all')}}">Library</a></li>
			</ul>
		</nav>

		{% block body %}{% endblock %}
		<footer>
    <p>Environment: {{ app.environment }}</p>
    Denna websida är del av kursarbetet som görs under kursen MVC på Blekinge Tekniska Högskola.</footer>
	</body>
</html>
