<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>
			{% block title %}
				Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="{{ asset('img/hh_logo_b.png') }}"/>
		 <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="proj-body">
		<header class=" proj-header" style="background-image: url({{ asset('img/malen.png') }})">
			<span class="site-title">Hassans Symfony Site</span>
		</header>
		<nav>
			<ul class="main-nav">
				<li>
					<a style="border:2px solid black;" href="{{ path('home') }}">
						Report-sida
					</a>
				</li>
				<li>
					<a href="{{ path('app_proj') }}">Start</a>
				</li>
				<li>
					<a href="{{ path('app_proj_about') }}">Om</a>
				</li>
				<li>
					<a href="{{ path('app_proj_database') }}">Databas</a>
				</li>
				<li>
					<a href="{{ path('app_proj_api') }}">Mål API:er</a>
				</li>
				<li>
							<a href="{{ path('app_proj_goals') }}">Globala Mål</a>
						</li>
				<li class="dropdown">
					Project ▾
					<ul class="dropdown-content">
						
						<li>
							<a href="{{ path('app_proj_goal_7') }}">Mål 7</a>
						</li>
						<li>
							<a href="{{ path('app_proj_goal_12') }}">Mål 12</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>

		{% block body %}{% endblock %}
		<footer class="proj-footer">Denna websida är del av kursarbetet som görs under kursen MVC på Blekinge Tekniska Högskola.</footer>
	</body>
</html>
